{% block topbar %}
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <h1 class="navbar-brand" >Tableau de bord</h1>
    <!-- Navbar-->
    <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i> {{ app.user ? app.user.username : ""}}</a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
            </div>
        </li>
    </ul>
</nav>
{% endblock %}