<form method="post" action="{{ path('answers_delete', {'id': answer.id}) }}" onsubmit="return confirm('Etes vous sûr de voulour supprimer ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ answer.id) }}">
    <button class="btn">Supprimer</button>
</form>
