{% extends 'base.html.twig' %}

{% block title %}Nouvelle réponse{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1>Créer une nouvelle réponse</h1>

    {{ include('answers/_form.html.twig') }}

    <a href="{{ path('answers_index', {'id': questions.id}) }}">retour à la liste</a>
</div>
{% endblock %}
