{% extends 'base.html.twig' %}

{% block title %}New Answers{% endblock %}

{% block body %}
    <h1>Create new Answers</h1>

    {{ include('answers/_form.html.twig') }}

    <a href="{{ path('answers_index', {'id': questions.id}) }}">retour à la liste</a>
{% endblock %}
