{% extends 'base.html.twig' %}

{% block body %}
	<div class="container-fluid">
		<h1 class="mt-4">Dashboard</h1>
		<ol class="breadcrumb mb-4">
			<li class="breadcrumb-item active">Dashboard</li>
		</ol>

		<h3>
			<a href="{{path('questions_index')}}">Créer vos questions</a>
		</h3>
	</div>
{% endblock %}
