<form method="post" action="{{ path('questions_delete', {'id': question.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer la question ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ question.id) }}">
    <button class="btn">Supprimer</button>
</form>
