{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-10 mt-4">
                <h1>Admin Dashboard</h1>
                {{render_chart(chart)}}
            </div>
        </div>
    </div>
{% endblock %}